.button{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: var(--text);
    cursor: pointer;
  
}

.closeBtn{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-right: 14px;
    
}

.button:hover{
    background-color: #222;
    transition: 0.5s;
}

.closeBtn:hover{
    background-color: var(--primary);
        color: var(--text);
    transition: 0.5s;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .actionBtn{
      display: flex;
      justify-content: flex-end;
      align-items:flex-end;
      margin-top: 34px;

  }
